APP_NAME="SkillX Backend"
APP_ENV=development
APP_DEBUG=True

DB_HOST=localhost
DB_PORT=3306
DB_NAME=skillx_db
DB_USER=root
DB_PASSWORD=your_mysql_password

JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=120

CERTIFICATE_SESSION_TARGET=5
